<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

  <title>Admin Panel</title>
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      background-color: #f8f9fa;
    }

    table th, table td {padding: 10px;} {margin-outside: 5px;}

    nav {
      align-content: center;
    }

    h1 {
      padding-top: 15px;
      padding-bottom: 10px;
    }

    ul {
      padding-inline-start: 0;
    }

    li {
      display: inline;
      list-style-type: none;
    }

    .modal-body {
      text-align: center;
    }

    .form-select {
      width: 250px;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      border: 1px solid #ced4da;
      margin-bottom: 20px;
    }

    .form-control {
      width: 250px;
      margin: auto;
      font-size: 12px;
      padding-top: 1px;
      padding-bottom: 1px;
    }

    .form-label {
      margin-bottom: 0;
      font-weight: bold;
      display: block;
      font-size: 80%;
    }

    .iw-modal .show{
      opacity: 1
    }

    #wrapper {
      padding-left: 0;
    }

    #sidebar {
      background-color: white;
      height: 100%;
      width: 15%;
      position:fixed;
      padding-top: 20px;
      padding-left: 0px;
    }

    #tables-holder {
      background-color: white;
    }

    #inner-table-container {
      padding: 30px;
      text-align: center;
    }

    #all-users-table {
      margin-bottom: 0;
    }

    #id-column-content {
      font-weight: normal;
    }

    #username-span {
      font-weight: bold;
      margin-right: 7px;
    }

  </style>

  <!-- Панель навигации -->
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <span class="navbar-brand" th:text="${currentUser.getEmail()}" id="username-span">Username</span>
    <span class="navbar-brand" th:text="'with roles: ' + ${currentUser.getRoles()}" id="roles-span">Roles</span>
    <div class="collapse navbar-collapse d-flex justify-content-end navbar-nav" id="navbarSupportedContent">
      <a class="nav-link" href="/logout">Logout</a>
    </div>
  </nav>
</head>

<body>
<!-- Основное содержание -->
<div class="container-fluid" id="wrapper">
  <div class="row">
    <div class="col-2">
      <div class="list-group mr-auto" id="sidebar">
        <a href="/admin" class="list-group-item list-group-item-action active">Admin</a>
        <a href="/admin/user-page" class="list-group-item list-group-item-action">User</a>
      </div>
    </div>

    <div class="col-10" id="main-content-wrapper">
      <div class="main-content">
        <h1>Admin panel</h1>

        <div class="insets">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="/admin/home">Users Table</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/new">New User</a>
            </li>
          </ul>
        </div>

        <div id="tables-holder">
          <table class="table border" id="all-users-table">
            <thead class="thead-light">
            <tr>
              <th scope="col">All Users</th>
            </tr>
            </thead>
          </table>
          <div class="border" id="inner-table-container">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Edit User</th>
                <th scope="col">Delete User</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="user : ${allUsers}">
                <th th:text="${user.getId()}" id="id-column-content">1</th>
                <td th:text="${user.getFirstName()}">SomeName</td>
                <td th:text="${user.getLastName()}">SomeLastName</td>
                <td th:text="${user.getAge()}">SomeAge</td>
                <td th:text="${user.getEmail()}">SomeEmail</td>
                <td>
                  <ul>
                    <li th:each="role : ${user.getRoles()}" th:text="${role.getRole()}">Roles</li>
                  </ul>
                </td>
                <td>
                  <form th:action=@{/admin/{id}/edit(id=${user.getId()})}>
                    <input type="submit" class="btn btn-info" value="Edit">
                  </form>
                    <button type="button" class="btn btn-info" data-toggle="modal"
                            th:href="${'#edit' + user.id}">Edit</button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" data-toggle="modal"
                          th:href="${'#delete' + user.id}">Delete</button>
                </td>
                  <!--DELETE FORM-->
                <div class="myForm">
                    <div class="modal fade" id="deleteModal" role="dialog"
                         tabindex="-1" th:id="${'delete' + user.id}">

                        <form th:method="DELETE" th:action=@{/admin/{id}/delete(id=${user.getId()})}>

                            <div class="modal-dialog" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="modal-body">

                                            <div class="form-group">
                                                <label for="id" class="form-label">ID</label>
                                                <input type="text" class="form-control"
                                                       id="id" th:value="${user.id}" readonly/>
                                            </div>

                                            <div class="form-group">
                                                <label for="firstName" class="form-label">First name</label>
                                                <input type="text" class="form-control"
                                                       id="firstName" th:value="${user.firstName}" readonly/>
                                            </div>

                                            <div class="form-group">
                                                <label for="lastName" class="form-label">Last name</label>
                                                <input type="text" class="form-control"
                                                       id="lastName" th:value="${user.lastName}" readonly/>
                                            </div>

                                            <div class="form-group">
                                                <label for="age" class="form-label">Email</label>
                                                <input type="number" class="form-control"
                                                       id="age" th:value="${user.age}" readonly/>
                                            </div>

                                            <div class="form-group">
                                                <label for="email" class="form-label">Email</label>
                                                <input type="text" class="form-control"
                                                       id="email" th:value="${user.email}" readonly/>
                                            </div>

                                            <div>
                                                <label for="selection1" class="form-label">Role</label>
                                              <select class="form-select"
                                                      size="2"
                                                      multiple="multiple"
                                                      id="selection1" disabled>
                                                <option th:each="role : ${allRoles}"
                                                        th:value="${role.getId()}"
                                                        th:text="${role.getRole()}">
                                                </option>
                                              </select>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn btn-secondary"
                                                    data-dismiss="modal">Close
                                            </button>
                                            <input type="submit"
                                                   value="Delete"
                                                   class="btn btn-danger"/>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                  <!-- END OF DELETE FORM-->

                  <!--EDIT FORM-->
                  <div class="myForm">
                      <div class="modal fade" role="dialog" th:id="${'edit' + user.id}" tabindex="-1">

                          <form th:method="PATCH" th:action="@{/edit}">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">

                                      <div class="modal-header">
                                          <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>

                                      <div class="modal-body">
                                          <div class="modal-body">

                                              <div class="form-group">
                                                  <label for="id1" class="form-label">ID</label>
                                                  <input type="text"
                                                         class="form-control"
                                                         id="id1"
                                                         th:value="${user.id}"/>
                                              </div>

                                              <div class="form-group">
                                                  <label for="firstName1" class="form-label">First name</label>
                                                  <input type="text"
                                                         class="form-control"
                                                         id="firstName1"
                                                         th:value="${user.firstName}"/>
                                              </div>

                                              <div class="form-group">
                                                  <label for="lastName1" class="form-label">Last name</label>
                                                  <input type="text"
                                                         class="form-control"
                                                         id="lastName1"
                                                         th:value="${user.lastName}"/>
                                              </div>

                                              <div class="form-group">
                                                  <label for="age1" class="form-label">Age</label>
                                                  <input type="number"
                                                         class="form-control"
                                                         id="age1"
                                                         th:value="${user.age}"/>
                                              </div>

                                              <div class="form-group">
                                                  <label for="email1" class="form-label">Email</label>
                                                  <input type="text"
                                                         class="form-control"
                                                         id="email1"
                                                         th:value="${user.email}"/>
                                              </div>

                                              <div class="form-group">
                                                  <label for="password1" class="form-label">Password</label>
                                                  <input type="password"
                                                         class="form-control"
                                                         id="password1"
                                                         th:value="${user.password}"/>
                                              </div>

                                              <div>
                                                  <label for="selection2" class="form-label">Role</label>
                                                  <select class="form-select form-control"
                                                          size="2"
                                                          id="selection2">
                                                      <option th:each="role : ${allRoles}"
                                                              th:value="${role.getId()}"
                                                              th:text="${role.getRole()}">
                                                      </option>
                                                  </select>
                                              </div>

                                          </div>

                                          <div class="modal-footer">
                                              <button type="button"
                                                      class="btn btn-secondary"
                                                      data-dismiss="modal">Close
                                              </button>
                                              <input type="submit"
                                                     value="Edit"
                                                     class="btn btn-primary"/>
                                          </div>

                                      </div>

                                  </div>
                              </div>
                          </form>

                      </div>
                  </div>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
